*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: blueviolet;
}

p{
    color:black;
}
.nav_link {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: blueviolet;
    padding: 10px;
 }

 nav{
    
    background: grey;
 }